{% extends "base.html" %}

{% block content %}
  <div class="tabs">
    <a class="about tab" href="#">About</a>
    <a class="newsfeed tab" href="#">Newsfeed</a>
    <a class="staff tab" href="#">Employees</a>
  </div>

  <div class="bubble hide" id="about">
      <h1>About</H1>
      <p>The purpose of medication is to improve the health of the people that take them. They improve people’s lives and can in many cases even save them.</p>
      <p>For medication to be effective people have to take them according to their doctors advice.</p>
      <p>Unfortunately only about 50 % of people take their medicine correctly.  This is an international health problem and its consequences can be severe and costly.</p>
      <p>It is estimated that patients who don’t take their medicine as prescribed, cost the US healthcare system about $290 billion in avoidable medical spending each year.</p>
      <p>Today the problem is partly solved with dosage packed medicine.  Allthough this solution is helpful it is not sufficient.</p>
      <p>We are developing RemindMe, an automatic medicine dispenser for these dosage packs.</p>
      <p>With it we intend to increase medical compliance and thereby increase people’s quality of life and in the mean time save billions of dollars for the healthcare system.</p>
      <p>The idea started as a small project in a classroom at the University of Iceland but took a great turn when the group signed up for Gulleggið 2012, Innovit’s entreprenour contest. The team took first place and was recently chosen to participate in Startup Reykjavik, a 10 week mentorship driven seed investment program founded by Innovit, Klak and Arionbank and is a part of the Global Accelerator Network.
      <p>Contact us at <a href="mailto:info@eskitech.com">info@eskitech.com</a><br>
  </div>
  <div class="bubble" id="newsfeed">
    {% for i in range(1) %}
      <h1>{{titles[i]}}</h1>
      <h3>{{tumblr_dates[i]}}</h3>
      <p>{{blogs[i] | safe}}</p>
    {% endfor %}
    <!-- <a id="blog" href="/blog">More</a>-->
  </div>
  <div class="bubble hide" id="staff">
    <div class="starfsmadur">
      <div class="mynd">
        <img src="{{ url_for('.static', filename="images/ingunn.png") }}">
      </div>
      <div class="texti">
        <p>Ingunn Guðbrandsdóttir<br>
        CEO<br>
        BSc Industrial Engineering<br>
        <a href="mailto:ingunn@eskitech.com">ingunn@eskitech.com</a><br>
        tel: +354-6151346</p>
      </div>
    </div>
    <div class="starfsmadur">
      <div class="mynd">
        <img src="{{ url_for('.static', filename="images/hilla.png") }}">
      </div>
      <div class="texti">
        <p>Hildigunnur Björgúlfsdóttir<br>
          Project Manager<br>
          BSc Industrial Engineering<br>
          <a href="mailto:hildigunnur@eskitech.com">hildigunnur@eskitech.com</a><br>
          tel: +354-8239663</p>
      </div>
    </div>
    <div class="starfsmadur">
      <div class="mynd">
        <img src="{{ url_for('.static', filename="images/vaka_valsdottir2.png") }}">
      </div>
      <div class="texti">
        <p>Vaka Valsdóttir<br>
          Project Manager<br>
          BSc Industrial Engineering<br>
         <a href="mailto:vaka@eskitech.com">vaka@eskitech.com</a><br>
          tel: +354-8488122</p>
      </div>
    </div>
    <div class="starfsmadur">
      <div class="mynd">
        <img src="{{ url_for('.static', filename="images/sveinn.png") }}">
      </div>
      <div class="texti">
        <p>Sveinn B. Magnússon<br>
          Project Manager<br>
          BSc Industrial Engineering<br>
          <a href="mailto:sveinn@eskitech.com">sveinn@eskitech.com</a><br>
          tel: +354-6614583</p>
      </div>
    </div>
    <div class="starfsmadur">
      <div class="mynd">
        <img src="{{ url_for('.static', filename="images/oli.png") }}">
      </div>
      <div class="texti">
        <p>Ólafur Helgi Guðmundsson<br>
          Project Manager<br>
          BSc Industrial Engineering<br>
          <a href="mailto:oli@eskitech.com">oli@eskitech.com</a><br>
          tel: +354-6991390</p>
      </div>
    </div>
    <div class="starfsmadur">
      <div class="mynd">
        <img src="{{ url_for('.static', filename="images/hjortur.png") }}">
      </div>
      <div class="texti">
        <p>Hjörtur Geir Björnsson<br>
          Project Manager<br>
          BSc Industrial Engineering<br>
          <a href="mailto:hjortur@eskitech.com">hjortur@eskitech.com</a><br>
          tel: +354-8463145</p>
      </div>
    </div>
  </div>
{% endblock %}